body {
    background-color: rgb(253, 207, 207);
    font-family: 'Righteous', cursive;
}

.container-fluid {
    padding: 0;
}

.card{
    margin: 29px;
    width: 20rem;
    justify-content: space-between;
    background-color: black;
    color: pink;
}

.card-body {
    flex: none;
}

.navbar-brand {
    color: white;
}

.navbar-hover:hover {
    color:rgb(248, 143, 161);
}

.header {
    background-color: #01361d;
    margin-bottom: 45px;
}

h1 {
    color: black;
    text-align: center;
    padding: 40px;
}

.image-div img {
    width: 100%;
    box-shadow: 4px 4px 8px black;
}

h2 {
    padding: 30px 0 10px;
}

footer {
    background-color: #01361d;
    margin-top: 50px;
    padding: 0px;
}

footer a {
    text-decoration: none;
    color: rgb(241, 94, 185);
}

footer a:hover {
    text-decoration: none;
    color:  rgb(218, 38, 137);
}

h3 {
    text-align: center;
    color: white;
    padding: 40px;
    margin: 0px;
}

.btn-click {
background-color: rgb(21, 167, 55);
border: none;
}

.btn-click:hover {
    background-color: rgb(7, 243, 74);
}
